<article class="color-swatch">
  <div class="wrap">
    <div class="example" style="{{modifier.description}}">
      <span class="sr-only">{{modifier}}</span>
    </div>
    <div class="info">
      <p class="var">{{{{modifier}}}}</p>
      <p class="hex">{{modifier.name}}</p>
      <p class="description">{{modifier.description}}</p>
    </div>
  </div>
</article>
