<section id="kssref-{{ section.referenceURI }}" class="kss-section kss-section--depth-{{ section.depth }}">
  <div class="kss-style">

    {% include "section_heading.twig" %}
    {% if section.description %}
      <div class="kss-description">
        {{ section.description|raw }}
      </div>
    {% endif %}

    {% if section.reference|split(".")|last == "colors" %}

      {% include "color_grid.twig" with section only %}

    {% else %}

      {% for parameter in section.parameters %}
        {% if loop.first %}
          <div class="kss-parameters__title">Parameters:</div>
          <ul class="kss-parameters">
        {% endif %}
          <li class="kss-parameters__item">
            <div class="kss-parameters__name"><code>{{ parameter.name }}</code></div>
            <div class="kss-parameters__description">
              {{ parameter.description|raw }}
              {% if parameter.defaultValue %}
                <div class="kss-parameters__default-value">
                  Defaults to: <code>{{ parameter.defaultValue }}</code>
                </div>
              {% endif %}
            </div>
          </li>
        {% if loop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="component_details">
    {% include "component_details.twig" %}
  </div>

  {% if section.sourceFile.name %}
    {% include "../atoms/source_reference.twig" %}
  {% endif %}
</section>
